@import "../utils/variables.scss";

.main-block {
  background-color: #F6F7F9;

  &__container {
    padding: 0 32px 0;

    @media (max-width: 992px) {
      padding: 0 24px 0;
    }
  }

  &__items {
    margin-bottom: 26px;
  }

  &__flex {
    padding-top: 32px;
    margin-bottom: 32px;

    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 24px;
    }
  }

  &__text {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $gray-color;
  }

  &__text--blue {
    color: $base-color;

    @media (max-width: 576px) {
      color: $gray-color;
    }
  }

  &__link {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $base-color;
    position: relative;
    cursor: pointer;

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: -4px;
      width: 0;
      height: 2px;
      background-color: $gray-color;
      transition: width 0.5s;
    }

    &:hover:after {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: -4px;
      height: 2px;
      background-color: $base-color;
      transition: width 0.5s;
    }
  }

  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
  }
}
