@import "../utils/variables.scss";

.review-block {
  padding: 24px;
  max-width: max-content;
  border-radius: 10px;

  &__title {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: $black-color;
    margin: 0 12px 32px 0;

    @media (max-width: 576px) {
      margin: 0 12px 24px 0;
    }
  }

  &__name {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: $black-color;

    @media (max-width: 576px) {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.01em;
    }
  }

  &__date {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $gray-color;

    @media (max-width: 576px) {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__job-title {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: $gray-color;
    margin: 0 0 12px 0;

    @media (max-width: 576px) {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.01em;
    }
  }

  &__text {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: -0.02em;
    color: #3D5278;

    @media (max-width: 576px) {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }

  &__badge {
    background-color: $base-color;
    border-radius: 4px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $white-color;
  }

  & a {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $gray-color;
    margin-bottom: 32px;

    @media (max-width: 992px) {
      max-width: 492px;
    }

    @media (max-width: 576px) {
      margin-bottom: 10px;
      max-width: 327px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__button a {
    position: relative;
    cursor: pointer;
  }

  &__button a:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: $base-color;
    transition: width 0.5s;
  }

  &__button a:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    background-color: $gray-color;
    transition: width 0.5s;
  }

  @media (max-width: 576px) {
    padding: 16px;
  }
}