* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "./blocks/main-block.scss";
@import "./blocks/navbar.scss";
@import "./blocks/view-card.scss";
@import "./blocks/product-card.scss";
@import "./blocks/review-block.scss";
@import "./blocks/car-catalog.scss";
@import "./blocks/sidebar.scss";
@import "./blocks/footer.scss";

main {
  margin-top: 124px;

  @media (max-width: 768px) {
    margin-top: 222px;
  }
}


.bg-1 {
  // box-shadow: 0 0 15px 0 rgb(207, 139, 139);
}
